---

# node exporter
- name: node-exporter
  docker_container:
    name: node-exporter
    image: prom/node-exporter:v1.10.2
    command: ["--path.rootfs=/host"]
    ports:
      - "9100:9100"
    volumes:
      - "/:/host:ro,rslave"
    restart_policy: unless-stopped

# sensors exporter
- name: sensors-exporter
  docker_container:
    name: sensors-exporter
    image: anthonymolinari/sensors-exporter@sha256:a71fc71454ecd72def7184f04f2869065557de8fbcacb02e12200933bfed3c1f
    ports:
      - "8282:9200"
    restart_policy: unless-stopped

# openbooks
- name: openbooks 
  docker_container:
    name: openbooks
    image: evanbuss/openbooks:4.5.0
    command: ["--name", "iker_neptunis", "--persist", "-s", "irc.irchighway.net:9999"]
    volumes:
      - "{{downloads_dir}}:/books"
    ports:
      - "4567:80"
    restart_policy: unless-stopped

# nvidia exporter
- name: gpu-exporter
  docker_container:
    name: nvidia-smi-exporter
    image: nvcr.io/nvidia/k8s/dcgm-exporter:3.3.5-3.4.0-ubuntu22.04
    ports:
      - "9400:9400"
    networks:
      - name: "metrics"
      - name: "traefik"
    device_requests:
      - device_ids: 0
        driver: nvidia
        capabilities:
          - gpu
          - compute
          - utility
    restart_policy: unless-stopped

# emby
- name: emby
  docker_container:
    name: emby
    image: emby/embyserver:4.9.2.8
    ports:
      - "8096:8096"
      - "8920:8920"
    volumes:
      - "{{ media_dir }}:/Media"
      - "{{ docker_path }}/emby:/config"
    env:
      UID: "1000"
      GID: "1000"
    restart_policy: unless-stopped

# plex
- name: plex
  community.docker.docker_container:
    name: plex
    image: linuxserver/plex:1.42.2
    volumes:
      - "{{ media_dir }}:/Media"
      - "{{ docker_path }}/plex/config:/config"
    ports:
      - "32400:32400"
      - "5353:5353/udp"
      - "8324:8324/tcp"
      - "32410:32410/udp"
      - "32412:32412/udp"
      - "32413:32413/udp"
      - "32469:32469/tcp"
    device_requests:
      - device_ids: 0
        driver: nvidia
        capabilities:
          - gpu
          - compute
          - utility
    env:
      PUID: "1000"
      PGID: "1000"
      VERSION: "docker"
    restart_policy: unless-stopped

# tdarr 
- name: tdarr
  community.docker.docker_container:
    name: tdarr
    image: haveagitgat/tdarr:2.58.02 
    ports:
      - "8265:8265"
      - "8266:8266"
    volumes:
      - "{{ docker_path }}/tdarr/server:/app/server"
      - "{{ docker_path }}/tdarr/configs:/app/config"
      - "{{ docker_path }}/tdarr/logs:/app/logs"
      - "{{ media_dir }}:/media"
      - "/transcode_cache:/temp"
    device_requests:
      - device_ids: 0
        driver: nvidia
        capabilities:
          - gpu
          - compute
          - utility
    env:
      serverIP: "0.0.0.0"
      serverPort: "8266"
      webUIPort: "8265"
      internalNode: "true"
      inContainer: "true"
      ffmpegVersion: "6"
      nodeName: "MyInternalNode"
      TZ: "{{ timezone }}"
      PUID: "1000"
      PGID: "1000"
      NVIDIA_DRIVER_CAPABILITIES: "all"
      NVIDIA_VISIBLE_DEVICES: "all"
    restart_policy: unless-stopped

# sonarr
- name: sonarr
  docker_container:
    name: sonarr
    image: linuxserver/sonarr:4.0.16-develop   
    ports:
      - "8989:8989"
    volumes:
      - "{{ docker_path }}/sonarr/config:/config"
      - "{{ media_dir }}:/tv"
      - "{{ downloads_dir }}/torrents:/downloads"
    env:
      PGID: "1000"
      PUID: "1000"
      TZ: "{{ timezone }}"
    restart_policy: unless-stopped

# radarr
- name: radarr
  docker_container:
    name: radarr
    image: linuxserver/radarr@sha256:06ac318ecb95a34c7b229568dcb4271f02cb5007bb189a0dd67a2032864187ca    
    ports:
      - "7878:7878"
    volumes:
      - "{{ docker_path }}/radarr/config:/config"
      - "{{ media_dir }}:/movies"
      - "{{ downloads_dir }}/torrents:/downloads"
    env:
      PGID: "1000"
      PUID: "1000"
      TZ: "{{ timezone }}"
    restart_policy: unless-stopped

# overseerr
- name: deploy overseerr
  docker_container:
    name: overseerr
    image: sctx/overseerr:1.34.0
    ports:
      - "5055:5055"
    volumes:
      - "{{ docker_path }}/overseerr/config:/app/config"
    env:
      LOG_LEVEL: "debug"
      TZ: "{{ timezone }}"
    restart_policy: unless-stopped

# pia-vpn-container
- name: deploy vpn-client container
  docker_container:
    name: vpn
    image: dperson/openvpn-client@sha256:d174047b57d51734143325ad7395210643025e6516ba60a937e9319dbb462293
    volumes:
      - "{{ docker_path }}/vpn-client:/vpn"
    ports:
      - "9696:9696" # prowlarr webui
      - "9091:9091" # transmission webui
    restart_policy: unless-stopped
    capabilities:
      - "NET_ADMIN"
    devices:
      - "/dev/net/tun"
    env:
      VPN: "{{ vpn_arg }}"
      ROUTE: 172.24.10.0/24

# prowlarr
- name: deploy prowlarr behind vpn
  docker_container:
    name: prowlarr
    image: linuxserver/prowlarr@sha256:475853535de3de8441b87c1457c30f2e695f4831228b12b6b7274e9da409d874
    volumes:
      - "{{ docker_path }}/prowlarr/config:/config"
    env:
      PUID: "1000"
      PGID: "1000"
    network_mode: container:vpn
    restart_policy: unless-stopped

# transmission
- name: deploy transmission behind vpn
  docker_container:
    name: transmission
    image: linuxserver/transmission:4.0.6
    volumes:
      - "{{ docker_path }}/transmission/config:/config"
      - "{{ downloads_dir }}/torrents:/downloads"
    env:
      PUID: "1000"
      PGID: "1000"
      TZ: "{{ timezone }}"
    network_mode: container:vpn
    restart_policy: unless-stopped

# scrutiny disk metrics
- name: deploy scrutiny disk metrics
  docker_container:
    name: scrutiny
    image: ghcr.io/analogj/scrutiny:master-omnibus
    ports:
      - "8181:8080" # webapp
      - "8086:8086" # influxdb admin
    volumes:
      - "{{ docker_path }}/scrutiny/config:/opt/scrutiny/config"
      - "{{ docker_path }}/scrutiny/influxdb:/opt/scrutiny/influxdb"
      - "/run/udev:/run/udev:ro"
    capabilities:
      - "SYS_RAWIO"
    devices:
      - "/dev/sda"
      - "/dev/sdb"
      - "/dev/sdc"
      - "/dev/sdd"
      - "/dev/sde"
    restart_policy: unless-stopped
