---

- name: ensure mosquitto dir exists
  file:
    path: "/home/anthony/docker-volumes/mosquitto/config"
    state: directory

- name: copy mosquitto config
  copy:
    src: "configs/network/mosquitto_config.conf"
    dest: "/home/anthony/docker-volumes/mosquitto/config/mosquitto.conf"
  become: true

- name: ensures prometheus dir exists
  file:
    path: "{{ docker_path }}/prometheus"
    state: directory
    
- name: copy prometheus configuration
  copy:
    src: "configs/network/prometheus.yml"
    dest: "{{ docker_path }}/prometheus/prometheus.yml"


