---

- name: node_exporter container
  docker_container:
    name: node_exporter
    image: prom/node-exporter:v1.10.2
    command: ["--path.rootfs=/host"]
    ports:
      - "9100:9100"
    volumes:
      - "/:/host:ro,rslave"
    restart_policy: unless-stopped

# duckdns
- name: duckdns
  docker_container:
    name: duckdns
    image: linuxserver/duckdns@sha256:dd68d23ef64cfcd08eb9677b2714ab896302e4885abe4a194d5ff141baa7b8f9
    volumes:
      - "/home/anthony/docker-volumes/duckdns/config:/config"
    env:
      PUID: "1000"
      PGID: "1000"
      TZ: "{{ timezone }}"
      SUBDOMAINS: "{{ ddns_subdomains }}"
      TOKEN: "{{ ddns_token }}"
    restart_policy: unless-stopped

# mosquitto
- name: mosquitto
  docker_container:
    name: mosquitto
    image: eclipse-mosquitto:1.6.12
    ports:
      - "1883:1883"
    volumes:
      - "/home/anthony/docker-volumes/mosquitto/data:/data"
      - "/home/anthony/docker-volumes/mosquitto/config:/config"
      - "/home/anthony/docker-volumes/mosquitto/logs:/logs"
    env:
      PUID: "1000"
      PGID: "1000"
    restart_policy: unless-stopped

# home assistant
- name: home-assistant
  docker_container:
    name: home-assistant
    image: homeassistant/home-assistant:2026.1    
    network_mode: 'host'
    volumes:
      - "/home/anthony/docker-volumes/hass/config:/config"
    env:
      TZ: "{{ timezone }}"
    devices:
      - "/dev/serial/by-id/usb-ITEAD_SONOFF_Zigbee_3.0_USB_Dongle_Plus_V2_20230525115147-if00:/dev/ttyACM0"
    restart_policy: unless-stopped

# node-red data
- name: create node-red volume
  docker_volume:
    name: nodered_data

# node-red
- name: node-red
  docker_container:
    name: node-red
    image: nodered/node-red:4.1
    ports:
      - "1880:1880"
    volumes:
      - "nodered_data:/data"
    restart_policy: unless-stopped

- name: omada-controller
  docker_container:
    name: omada
    image: mbentley/omada-controller:6.0
    ports:
      - "8088:8088"
      - "8043:8043"
      - "27001:27001/udp"
      - "29810:29810/udp"
      - "29811-29816:29811-29816"
    volumes:
      - "{{ docker_path }}/omada/logs:/opt/tplink/EAPController/data"
      - "{{ docker_path }}/omada/data:/opt/tplink/EAPController/logs"
    env:
      TZ: "{{ timezone }}"
    restart_policy: unless-stopped
