name: deploy network tasks

on:
  workflow_dispatch:
  push: 
    branches: ['main']
    paths: 
      - 'tasks/network/**'
      - 'configs/shared/**'
      - 'configs/network/**'
      - 'group_vars/all/**'
      - 'group_vars/network/**'
      - 'run_main_network.yml'
      - 'hosts'
  
jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v6

      - name: run playbook
        run: ansible-playbook run_network_tasks.yml --vault-password-file='${{ secrets.VAULT_PASS_FILE }}'
